.animalCard {
  height: 600px;
  border: 5px solid #eee;
  padding: 10px;
  box-shadow: 10px 10px 20px #333;
  background-color: #0062a1;
  color: white;
}

.animalCard h4 {
  text-align: center;
  color: #eee;
  font-size: 30px;
}

.animalCard img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 10px auto;
  border: solid 5px white;
}

.animalCard p {
  margin: 0;
  font-size: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
}

span.bio {
  text-decoration: underline;
}

.animalCard hr {
  margin: 0px;
}

.animalCard button {
  position: absolute;
  bottom: 10px;
  background-color: #e97d23;
  border: solid 3px #eee;
}

.col-md-4 {
  margin-top: 25px;
}

.new-animal button {
  width: 100%;
  background-color: #ce1d25;
  font-family: 'Barrio', cursive;
  font-size: 40px;
  color: white;
  border-radius: 0;
  border: solid 5px #eee;
}

.new-animal button:hover {
  background-color: #aeca37;
  border: solid 5px white;
}

.new-animal button:focus{
  background-color: #ce1d25;
  color: white;
  border: solid 5px white;
}

.new-animal button:active {
  background-color: #ce1d25;
  border: solid 5px white;
}

.jumbotron {
  background-image: url('../../img/headerImg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 450px;
  background-color: #502c86;
  background-position: center;
  margin-bottom: 0;
}

.jumbotron h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 106px;
  color: #eee;
  color: white;
  position: absolute;
  top: 300px;
  left: 50px;
}

body {
  background-color: #818286;
}

select {
  font-size: 25px;
  background-color: #aeca37;
  color: white;
  margin-top: 20px;
}
